.div-form-exterior {

    /* Box model */
    margin-top: 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    /* Tipografía */
    text-align: center; /* Alinea el texto al centro */
}

.input-style{

    /* Box model */
    width: 95%;
    height: 20px;
    padding: 5%;
    margin-bottom: 15%;

    /* Tipografía */
    font-family: "Karla", Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;

    /* Visual */
    border-radius: 5px;
}

.send-button-style{

    /* Box model */
    width: 60%;
    height: 40px;

    /* Tipografía */
    font-family: "Karla", Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    color: white;

    /* Visual */
    background-color: #3f4f7b;
    border-radius: 20px;
    border: 5px solid white;
    cursor: pointer;
}

.send-button-style:hover{

    /* Tipografía */
    color: #3f4f7b;

    /* Visual */
    background-color: white;
}