.list-out-div{

    /* Box model */
    margin-top: 14%;
    margin-bottom: 5%;
    box-sizing: border-box;
    padding: 2%;

    /* Tipografía */
    font-family: "Karla", Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
    text-align: left;
    text-transform: capitalize;

    /* Visual */
    background-color: white;
    border: 10px solid #3f4f7b;
    border-radius: 2vw;
    
}